body, html, #root {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242424;
}

.logo {
  width: 150px;
  height: auto;
}

.circle {
  width: 180px;
  height: 180px;
  background-color: #001f80;  
  border: 3px solid #0066ff;  
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(0, 0, 255, 0.3);

}